.navbar {
  background-color: #222;
  padding: 15px;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a.active {
  color: yellow;
}

.page {
  text-align: center;
  margin-top: 40px;
}

.todos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.todo-card {
  border: 1px solid #8a1818;
  padding: 15px;
  border-radius: 8px;
  background-color: #e0c9c9;
}
