body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
}

.todo-item {
    background-color: #ffffff;
    padding: 10px;
    margin: 10px auto;
    width: 65%;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-title {
    flex: 1;
}

.completed {
    text-decoration: line-through;
    color: green;
}

button {
    padding: 5px 10px;
    margin-left: 6px;
    cursor: pointer;
}

.no-data {
    text-align: center;
    color: red;
    margin-top: 20px;
}
